menu {
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 2;

    @include transition(background-color .3s ease);
    @include box-shadow(0 5px 5px rgba(0, 0, 0, 0.1));

    nav {
        position: relative;
        display: block;
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        padding: 20px 20px 30px;

        ul {
            margin: 0;
            padding: 0;
            display: block;
            width: 100%;

            @include flex-box();
            @include align-items(center);
            @include flex-wrap(wrap);

            li {
                list-style-type: none;
                display: inline-block;
                position: relative;
                color: $black;
                font-weight: bold;
                margin: 0;
                padding: 0;
                margin-left: 40px;
                cursor: pointer;

                @include transition(color .3s ease);

                &:first-child { margin-left: 0; }
                &:last-child { padding-right: 0; }
                &:hover { color: $blue; }

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    bottom: -12px;

                    @include opacity(0);
                    @include transition(opacity .3s ease);
                }

                &:before {
                    width: 100%;
                    left: 0;
                    right: 0;
                    height: 1px;
                    background-color: $gray;
                }

                &:after {
                    width: calc(100% - 36px);
                    left: 50%;
                    height: 4px;
                    background-color: $black;

                    @include translate(-50%, 0);
                }

                &.active { &:before, &:after { @include opacity(1); }

                }
            }
        }
    }

    &.scroll {
        background-color: $blue;
        nav ul li {
            color: white;

            &:hover { color: $black; }
        }
    }
    @media only screen and (max-width: $tablet) {
        display: none;
    }
}

header {
    @media only screen and (max-width: $tablet) {
        margin-top: 0 !important;
    }
}

section.scroll-element {
    position: relative;
    width: 100%;
    max-width: 1184px;
    display: block;
    margin: 50px auto;
    padding: 0 80px;
    min-height: 500px;

    @media only screen and (max-width: $mobile) {
        padding: 0 60px 0 20px;
    }

    img {
        width: 100%;
        max-width: 100%;
        margin: 20px 0;
    }

    h2 {
        font-size: 2em;
        color: $blue;
        margin: 0 0 15px;
        line-height: 1;

        @include flex-box();
        @include align-items(center);

        span {
            position: relative;
            top: 2px;
            padding-left: 10px;
            font-size: .5em;
            color: $black;
        }
    }

    @media only screen and (max-width: $tablet) {
        h2 {
            @include flex-box();
            @include align-items(flex-start);
            @include flex-direction(column);

            span { padding: 10px 0 0; }
        }
    }
}


section.sidebar-navigation {
    position: fixed;
    top: 50%;
    display: block;
    height: auto;
    right: 20px;
    z-index: 3;

    @include translateY(-50%);

    @media only screen and (max-width: $mobile) {
        right: 10px;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            position: relative;
            list-style-type: none;
            width: 20px;
            height: 20px;
            margin-bottom: 20px;

            span {
                @include transition(border-color .3s ease);

                &.circle {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 20px;
                    border-radius: 100%;
                    background-color: $gray;
                    cursor: pointer;
                    z-index: 1;
                    border: 2px solid $gray;

                    &:before {
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        border-radius: 100%;
                        top: 50%;
                        left: 50%;
                        background-color: $gray;

                        @include transition(background-color .3s ease);
                        @include translate(-50%, -50%);
                    }
                }

                &.stripe {
                    content: '';
                    position: absolute;
                    width: 8px;
                    height: 25px;
                    bottom: -23px;
                    z-index: 2;
                    left: 50%;
                    border-left: 2px solid $gray;
                    border-right: 2px solid $gray;
                    background-color: $gray;
                    
                    @include translateX(-50%);
                }
            }

            &:last-child span.stripe { display: none; }

            &.before-line span {
                &.circle {
                    border: 2px solid $blue;
                }

                &.stripe {
                    border-left: 2px solid $blue;
                    border-right: 2px solid $blue;
                }
            }

            &.active span.circle {
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                border-radius: 100%;
                background-color: $gray;
                cursor: pointer;
                z-index: 3;
                border: 2px solid $blue;

                &:before { background-color: $blue; }
            }

            &:hover span.circle {
                border: 2px solid $blue;
                z-index: 4;
            }

            &:hover span.circle:before {
                content: '';
                position: absolute;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                top: 50%;
                left: 50%;
                background-color: $blue;

                @include translate(-50%, -50%);
            }
        }
    }
}